<div class="card">
  <div class="card-header">
    <div class="row">
      <h5><b>Licensee Billing</b></h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <app-licensee-pricing [selectedLocations]="selectedLocations"></app-licensee-pricing>
        <app-licensee-payment></app-licensee-payment>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="stripeService.stripeSubscriptionId !== undefined && stripeService.stripeSubscriptionId && stripeService.canUpdate" >
      <button type="button" class="btn btn-primary" (click)="onUpdate()">Update Subscription <span *ngIf="this.stripeService.updateInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
    <div class="row"><p> </p></div>
    <div class="row justify-content-center" *ngIf="stripeService.stripeSubscriptionId !== undefined && stripeService.stripeSubscriptionId" >
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel Subscription <span *ngIf="this.stripeService.cancelInProgress" class="spinner-border spinner-border-sm" role="status"
                                                                                                   aria-hidden="true"></span></button>
    </div>
  </div>
</div>
