<div class="card">
  <div class="card-header">
    <div class="row">
      <h5><b>Licensee Billing</b></h5>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
              ngbTooltip="Select your subscription level, number of billable locations, and specify your Payment Method">?</button>
    </div>
    <div>
      <h6>You currently have {{venueService.getVenueCountForLicensee(stripeService.licensee.LicId)}} Locations defined<span
          *ngIf="venueService.getDisabledVenueCountForLicensee(stripeService.licensee.LicId) > 0"
        >, {{venueService.getDisabledVenueCountForLicensee(stripeService.licensee.LicId)}} of which are disabled</span>
        <span *ngIf="stripeService.licensee?.StripeBilling?.StripeQty"> and {{stripeService.licensee.StripeBilling.StripeQty}} are being billed.</span></h6>
    </div>
  </div>
  <div class="card-body" *ngIf="sessionService.ResellerId === 0">
    <div class="row">
      <div class="col-sm-12">
        <app-licensee-pricing [selectedLocations]="selectedLocations"></app-licensee-pricing>
        <app-licensee-payment></app-licensee-payment>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="stripeService.stripeSubscriptionId !== undefined && stripeService.stripeSubscriptionId && stripeService.canUpdate" >
      <button type="button" class="btn btn-primary" (click)="onUpdate()">Update Subscription <span *ngIf="this.stripeService.updateInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
    <div class="row"><p> </p></div>
    <div class="row justify-content-center" *ngIf="stripeService.stripeSubscriptionId !== undefined && stripeService.stripeSubscriptionId" >
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel Subscription <span *ngIf="this.stripeService.cancelInProgress" class="spinner-border spinner-border-sm" role="status"
                                                                                                   aria-hidden="true"></span></button>
    </div>
  </div>
  <div *ngIf="sessionService.ResellerId > 0">
    <h5 *ngIf="stripeService.licensee?.StripeBilling?.StripeSubscriptionId" >A <b>{{stripeService.selectedProduct.Name}}</b> Subscription is Enabled for {{stripeService.licensee.StripeBilling.StripeQty}} Locations.</h5>
    <h5 *ngIf="!stripeService.licensee?.StripeBilling?.StripeSubscriptionId" >No Subscription on File. Please have the Licensee sign-in and start a Subscription.</h5>
  </div>
</div>
