<form [formGroup]="copyVenueForm">
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Copy Location</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-auto">
          <p>
            <strong>Copying from: <span class="text-primary">{{venue.Name}}</span></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-auto">
          <input
            type="checkbox"
            formControlName="SelectAll"
            (click)="onSelectAll($event.target.checked)"
            id="SelectAll"><b>Select All</b>
        </div>
      </div>
      <div class="card-header">
        <h6>Fee Groups / Fees</h6>
      </div>
      <div class="card-body">
        <div *ngFor="let feegroup of venue.FeeGroups; let i = index">
          <div class="row">
            <div class="col-sm-auto">
              <input
                type="checkbox"
                formControlName="FeeGroup{{i}}"
                (click)="onFeeGroupSelect($event.target.checked,i)"
                id="FeeGroup"><b>{{feegroup.Name}}{{feegroup.Disabled ? " (D)" : ""}}</b>
              <div class="row" *ngFor="let fee of feegroup.Fees; let j = index">
                <div class="col-sm-1"></div>
                <div class="col-sm-auto">
                  <input
                    type="checkbox"
                    formControlName="Fee{{i}}-{{j}}"
                    id="Fee">{{fee.Name}}{{fee.Disabled ? " (D)" : ""}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header">
        <h6>Rental Items / Assigned Fee Groups</h6>
      </div>
      <div class="card-body">
        <div *ngFor="let rentalItem of venue.RentalItems; let i = index">
          <div class="row">
            <div class="col-sm-auto">
              <input
                type="checkbox"
                formControlName="Rental{{i}}"
                (click)="onRentalSelect($event.target.checked,i)"
                id="Rental"><b>{{rentalItem.Name}}{{rentalItem.Disabled ? " (D)" : ""}}</b>
              <div class="row" *ngFor="let fgid of rentalItem.RentalItemFeeGroups; let j = index">
                <div class="col-sm-1"></div>
                <div class="col-sm-auto">
                  <input
                    type="checkbox"
                    formControlName="RentalFeeGroup{{i}}-{{j}}"
                    id="RentalFeeGroup">{{feeGroupName(fgid)}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header">
        <div class="row">
          <div class="col-sm-auto">
            <h6>Copy to:</h6>
          </div>
          <div class="col-sm-auto">
            <div *ngIf="!sessionService.ResellerId > 0">
              <select id="TargetVenue">
                <option [value]="null">Select Location</option>
                <option *ngFor="let i of this.targetLicenseeVenueIndexList(); "
                        [value]="i">{{venues[i].Name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-" (click)="modal.close('Ok')">Copy</button>
  </div>
</div>
</form>
