<div class="card bg-light">
  <div class="card-header">
    <h6><b>Fees</b></h6>
  </div>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div *ngFor="let feegroup of venue.FeeGroups; let i = index">
          <div class="card bg-light">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-9">
                  <h6>Fee Group: {{feegroup.Name}}</h6>
                </div>
                <div class="col-auto">
                  <button
                    type="submit"
                    class="btn btn-success float-right" (click)="onAddFee(i)">+
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div>
                  <app-fee-item
                    *ngFor="let fee of feegroup.Fees; let j = index"
                    [fee]="fee" [feeGroup]="feegroup" [index]="i" [feeIndex]="j" [vid]="id">
                  </app-fee-item>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
