<app-venue-detail-navigation></app-venue-detail-navigation>
<div class="card bg-light">
  <div class="card-header">
    <h4><b>Fees for:</b> {{venue.Name}}, {{venue.Address1}}, {{venue.City}}</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div *ngFor="let feegroup of venue.FeeGroups; let i = index">
          <div class="card bg-light">
            <div class="card-header">
              <h4>Fee Group: {{feegroup.Name}}</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div>
                  <app-fee-item
                    *ngFor="let fee of feegroup.Fees; let j = index"
                    [fee]="fee" [feeGroup]="feegroup" [index]="i" [feeIndex]="j" [vid]="id">
                  </app-fee-item>

                </div>
              </div>
              <div class="row">
                <button
                  type="submit"
                  class="btn btn-success" (click)="onAddFee(i)">Add Fee
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
