<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="rentalItemDetailForm" (ngSubmit)="onSubmit()">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Name">Name</label>
            <input
              type="text"
              id="Name"
              formControlName="Name"
              class="form-control">
          </div>
        </div>
      </div>
      <select class="form-control">
        <option value="{{rentalItem.RentalTypeId}}">{{getRentalTypeDesc(rentalItem.RentalTypeId)}}</option>
        <option value="two">Two</option>
      </select>
      <div>

      </div>


      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!rentalItemDetailForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
