<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="rentalItemDetailForm" (ngSubmit)="onSubmit()">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Name">Name</label>
            <input
              type="text"
              id="Name"
              formControlName="Name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="RentalTypeId">Rental Type</label>
          <select #select id="RentalTypeId" (change)="onSelectChange(select.value)">
            <option *ngFor="let rentalType of venue.LocationRentalTypes"
                    [value]="rentalType.RentalTypeId"
                    [selected]="rentalType.RentalTypeId == rentalItem.RentalTypeId"
            >{{rentalType.Desc}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <label>Selected Fee Groups</label>
            </div>
            <div class="panel-body">
              <div
                class="row"
                *ngFor="let feeGroup of rentalItem.RentalItemFeeGroups; let i = index"
                style="margin-top: 10px;">
                <div class="col-xs-8">
                  <label>{{getFeeGroupDesc(feeGroup.FGId)}}</label>
                </div>
                <div class="col-xs-2">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onDeleteFeeGroup(feeGroup.FGId)">X</button>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <label>Available Fee Groups</label>
              </div>
              <div class="panel-body">
                <div
                class="row"
                *ngFor="let feeGroup of getAvailableFeeGroups(); let i = index"
                style="margin-top: 10px;">
                <div class="col-xs-8">
                  <label>{{getFeeGroupDesc(feeGroup.FGId)}}</label>
                </div>
                <div class="col-xs-2">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="onAddFeeGroup(feeGroup.FGId)">+</button>
                </div>
              </div>
              <hr>
            </div>
            </div>
          </div>
        </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-danger" (click)="onDeleteRentalItem(index)" >Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
