<form [formGroup]="rentalItemDetailForm" (ngSubmit)="onSubmit()">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row">
        <h4>Rental Item Detail</h4>
        <div class="col-auto">
          <button
            class="btn btn-danger" (click)="onDeleteRentalItem(index)">-
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="Name">Name</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="Name"
            formControlName="Name"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('Name')">Name is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4" for="Disabled">Enabled</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Disabled"
            formControlName="Disabled"
            class="form-control">
        </div>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbTooltip="Only Enabled Rental Item are displayed.">?</button>
      </div>
      <div class="form-group row">
        <label class="col-sm-3" for="RentalTypeId">Rental Type</label>
        <select #select id="RentalTypeId" (change)="onSelectChange(select.value)">
          <option *ngFor="let rentalType of constantsService.SupportedRentalTypes"
                  [value]="rentalType.Id"
                  [selected]="rentalType.Id == rentalItem.RentalTypeId"
          >{{rentalType.Name}}
          </option>
        </select>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card bg-light">
            <div class="card-header">
              <label>Selected Fee Groups</label>
              <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                      ngbTooltip="Drag and Drop Selected Fee Groups to control display order.">?</button>
            </div>
            <div class="card-body">
              <div class="example-container">
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="rentalItem.RentalItemFeeGroups"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let feeGroup of rentalItem.RentalItemFeeGroups; let i = index"
                       cdkDrag>{{getFeeGroupDesc(feeGroup.FGId)}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-light">
            <div class="card-header">
              <label>Available Fee Groups</label>
              <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                      ngbTooltip="Drag and Drop Fee Groups between Selected and Available areas.">?</button>
            </div>
            <div class="card-body">
              <div class="example-container">
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="getAvailableFeeGroups()"
                  [cdkDropListConnectedTo]="[todoList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let feeGroup of getAvailableFeeGroups(); let i = index" cdkDrag>
                    {{getFeeGroupDesc(feeGroup.FGId)}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</form>

