<form [formGroup]="feeItemDetailForm">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          <h6>Fee Detail
            <button
              class="btn btn-danger pull-right" (click)="onDeleteFee(fid)">-
            </button>
          </h6>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="Name">Name</label>
        <div class="col-sm-auto">
          <input
            type="text"
            id="Name"
            maxlength="30"
            formControlName="Name"
            class="form-control">
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="isFieldInvalid('Name')">Fee Name is required</div>
      <div class="form-group row">
        <div class="col-sm-9">
          <label class="form-check-label" for="Enabled"><input
            type="checkbox"
            id="Enabled"
            formControlName="Enabled"> Enabled
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="Only Enabled Fees are applied.">?
            </button>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-header">
      <label><b>Fee Amount</b></label>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="FeeAmt">Amount</label>
        <div class="col-sm-5">
          <input
            type="number"
            id="FeeAmt"
            formControlName="FeeAmt"
            class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="The Fee Amount.">?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9">
          <label class="form-check-label" for="PerUser"><input
            type="checkbox"
            id="PerUser"
            formControlName="PerUser"> Charge Per User?
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="If checked, the fee will be charged for every user on the rental.">?
            </button>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9">
          <label class="form-check-label" for="AlwaysInc"><input
            type="checkbox"
            id="AlwaysInc"
            formControlName="AlwaysInc"> Always Include?
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="If checked, the fee will be included once regardless of the rental time.">?
            </button>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9">
          <label class="form-check-label" for="FlatRate"><input
            type="checkbox"
            id="FlatRate"
            formControlName="FlatRate"> Flat Rate
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="If checked, the fee is based on a fixed rental duration.">?
            </button>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-header">
      <label><b>Fee Times (00-24Hr)</b>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbTooltip="Specify the begin and end times for fee application. An End time prior to the the Begin Time is assumed to mean the next day.">
          ?
        </button>
      </label>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label col-sm-auto">Begin
          <ngb-timepicker formControlName="BeginTime" [minuteStep]="5"></ngb-timepicker>
        </label>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-auto">End
          <ngb-timepicker formControlName="EndTime" [minuteStep]="5"></ngb-timepicker>
        </label>
      </div>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-header">
      <label><b>Users</b></label>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="MinUsers">Min</label>
        <div class="col-sm-4">
          <input
            type="text"
            id="MinUsers"
            formControlName="MinUsers"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isMinUserFieldInvalid()">Must be 1 - {{this.constantsService.MaxUsers}}</div>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="The Minimum number of users that must be on the rental for this fee to be applied.">
            ?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="MaxUsers">Max</label>
        <div class="col-sm-4">
          <input
            type="text"
            id="MaxUsers"
            formControlName="MaxUsers"
            class="form-control">
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="The Maximum number of users that can be on the rental for this fee to be applied.">
            ?
          </button>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="isMaxUserFieldInvalid()">Must >= Min Users, < {{this.constantsService.MaxUsers}}</div>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-header">
      <label><b>Days of Week </b>
        <button type="button" class="btn btn-outline-secondary mr-2 col-auto" placement="right"
                ngbTooltip="Specify the days of the week this fee applies.">
          ?
        </button>
      </label>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label" for="Mon">Monday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Mon"
            formControlName="Mon"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Tue">Tuesday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Tue"
            formControlName="Tue"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Wed">Wednesday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Wed"
            formControlName="Wed"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Thu">Thursday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Thu"
            formControlName="Thu"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Fri">Friday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Fri"
            formControlName="Fri"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Sat">Saturday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Sat"
            formControlName="Sat"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Sun">Sunday</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Sun"
            formControlName="Sun"
            class="form-control">
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-form-label col-sm-auto" for="ItemId">POS Item Id</label>
          <div class="col-sm-5">
            <input
              type="text"
              id="ItemId"
              formControlName="ItemId"
              class="form-control">
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="The POS Item Id to apply with this fee. Normally 0 - Change this only if you need to override the POS Item Id of the Parent Fee Group">
              ?
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">
        <label><b>Fee Duration (Minutes)</b></label>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-form-label col-sm-auto" for="IncDur">Increment</label>
          <div class="col-sm-5">
            <input
              type="number"
              id="IncDur"
              formControlName="IncDur"
              class="form-control">
          </div>
          <div class="col-sm-auto">
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="The rental time interval that applies to this fee. Use 60 for hourly rates. Example: If this value is 15, and rental time is 45, the fee amount would be applied 3 times.">
              ?
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-auto" for="MinDur">Min</label>
          <div class="col-sm-5">
            <input
              type="number"
              id="MinDur"
              formControlName="MinDur"
              class="form-control">
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="The Minimum amount of rental time before this fee applies. Normally 0.">
              ?
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-auto" for="MaxDur">Max</label>
          <div class="col-sm-5">
            <input
              type="number"
              id="MaxDur"
              formControlName="MaxDur"
              class="form-control">
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="If not zero, if the rental time exceeds this time, the fee is not applied.  Normally 0.">
              ?
            </button>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="isMaxDurFieldInvalid()">Max Dur must be >= Min Dur, or 0</div>
      </div>
    </div>

  </div>
</form>




