<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-auto">
        <h6><b>Fee Group Detail </b>
          <button
            class="btn btn-danger" (click)="onDeleteFeeGroup(index)">-
          </button>
        </h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="feeGroupDetailForm">
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="Name">Name</label>
        <div class="col-sm-auto">
          <input
            type="text"
            id="Name"
            formControlName="Name"
            class="form-control">
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="isFieldInvalid('Name')">Fee Group Name is required</div>
      <div class="form-group row">
        <div class="col-sm-9">
          <label class="form-check-label" for="Disabled"> <input
            type="checkbox"
            id="Disabled"
            formControlName="Disabled"> Enabled
            <button type="button"
                    class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="Only Enabled Fee Groups are available at site.">?
            </button>
          </label>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-header">
          <label><b>Users (Players) </b>
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="Each Fee Group can have different rules about Rental Users/Players.">?
            </button>
          </label>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-auto">
              <label class="form-check-label" for="RequiresUsers"><input
                type="checkbox"
                id="RequiresUsers"
                formControlName="RequiresUsers"> Required
                <button type="button"
                        class="btn btn-outline-secondary mr-2" placement="right"
                        ngbTooltip="If Enabled, Selecting this Fee Group will force the selection of the number of Users/Players for the Rental Item.">
                  ?
                </button>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-auto" for="MinUsers">Min Users</label>
            <div class="col-sm-5">
              <input
                type="number"
                id="MinUsers"
                formControlName="MinUsers"
                class="form-control"
                [readonly]="!this.feeGroup.RequiresUsers">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                      ngbTooltip="The Minimum number of Users/Players when selecting this Fee Group.">?
              </button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="isMinUserFieldInvalid()">Min Users must be 1 - {{this.constantsService.MaxUsers}}</div>
          <div class="form-group row">
            <label class="col-form-label col-sm-auto" for="MaxUsers">Max Users</label>
            <div class="col-sm-5">
              <input
                type="number"
                id="MaxUsers"
                formControlName="MaxUsers"
                [readonly]="!this.feeGroup.RequiresUsers"
                class="form-control">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                      ngbTooltip="The Maximum number of Users/Players when selecting this Fee Group.">?
              </button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="isMaxUserFieldInvalid()">Must >= Min Users, < {{this.constantsService.MaxUsers}}</div>
          <div class="form-group row">
            <div class="col-sm-auto">
              <label class="form-check-label" for="TransferUserEnabled"><input
                type="checkbox"
                id="TransferUserEnabled"
                formControlName="TransferUserEnabled"
                [attr.disabled]="usersDisabled?'':null"> Allow User Transfers
                <button type="button"
                        class="btn btn-outline-secondary mr-2" placement="right"
                        ngbTooltip="Allows the Transfer of Individual Players to/from Rentals within the Fee Group">?
                </button>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-auto">
              <label class="form-check-label" for="UserNameTrackingEnabled"><input
                type="checkbox"
                id="UserNameTrackingEnabled"
                formControlName="UserNameTrackingEnabled"
                [attr.disabled]="usersDisabled?'':null"> Track User Names
                <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                        ngbTooltip="Allows the Tracking of Players Names">?
                </button>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-auto">
              <label class="form-check-label" for="CondenseUserFees"><input
                type="checkbox"
                id="CondenseUserFees"
                formControlName="CondenseUserFees"
                [attr.disabled]="usersDisabled?'':null"> Condense User Fees
                <button type="button"
                        class="btn btn-outline-secondary mr-2" placement="right"
                        ngbTooltip="Combines Reporting of individual fees to just one amount for Rental Item.">?
                </button>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-header">
          <label><b>Flat Rate</b>
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="A Flat Rate Rental Calculates Fees Up Front by Start Time, # of Players, and Fee Increment Time">?
            </button>
          </label>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-auto">
              <label class="form-check-label" for="Prepaid"><input
                type="checkbox"
                id="Prepaid"
                formControlName="Prepaid"> Flat Rate
                <button type="button"
                        class="btn btn-outline-secondary mr-2" placement="right"
                        ngbTooltip="If Enabled, Selecting this Fee Group will cause Fees to be calculated at the start of the Rental based on Start Time, Number of Players, and Rental Duration.">
                  ?
                </button>
              </label>
            </div>
          </div>
          <label><b>Rental Ending Alerts (minutes)</b></label>
          <div class="form-group row">
            <label class="col-form-label col-sm-auto" for="FirstRentalEndWarning">First at</label>
            <div class="col-sm-3">
              <input
                type="number"
                id="FirstRentalEndWarning"
                formControlName="FirstRentalEndWarning"
                class="form-control"
                [readonly]="!this.feeGroup.Prepaid">
            </div>
            <label class="col-sm-auto" >min remaining</label>
            <div class="col-sm-2">
              <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                      ngbTooltip="When greater than 0 (minutes), alerts the User that the Rental is ending soon.">?
              </button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="isFirstRentalEndWarningInvalid()">Alert Time must be 0 - 1440</div>
          <div class="form-group row">
            <label class="col-form-label col-sm-auto" for="RentalEndWarningInterval">Then every</label>
            <div class="col-sm-3">
              <input
                type="number"
                id="RentalEndWarningInterval"
                formControlName="RentalEndWarningInterval"
                [readonly]="!this.feeGroup.Prepaid"
                class="form-control">
            </div>
            <label class="col-sm-auto" >min</label>
            <div class="col-sm-2">
              <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                      ngbTooltip="When greater than 0 (minutes), frequency in minutes to alert user Rental is ending.">?
              </button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="isRentalWarningIntervalInvalid()">Alert Frequency must be 0 - 60 and < First Warning</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="FeeRounding">Fee Rounding</label>
        <div class="col-sm-auto">
          <select #myfeeroundingtype id="FeeRounding" formControlName="FeeRounding"
                  (change)="onSelectChange(myfeeroundingtype.value)">
            <option *ngFor="let feeRoundingType of constantsService.FeeRoundingTypes"
                    [value]="feeRoundingType.Id"
            >{{feeRoundingType.Name}}
            </option>
          </select>
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="Round Fees to nearest .05, .25, or 1.00, simplifying change management.">?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="RequiredFee">Required Fee</label>
        <div class="col-sm-5">
          <input
            type="number"
            id="RequiredFee"
            formControlName="RequiredFee"
            class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="An Always Included fee regardless of Rental Time or Number of Users">?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-auto" for="ItemId">POS Item Id</label>
        <div class="col-sm-6">
          <input
            type="number"
            id="ItemId"
            formControlName="ItemId"
            class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="The POS Item Id to use to report fees from this Fee Group">?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-auto">
          <label class="form-check-label" for="RenterPhoneTrackingEnabled"><input
            type="checkbox"
            id="RenterPhoneTrackingEnabled"
            formControlName="RenterPhoneTrackingEnabled"> Track Renter Phone #
            <button type="button"
                    class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="Allows the entry of the Renter's phone number at start of rental">?
            </button>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
