<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav ml-auto nav-pills">
    <li class="list-inline-item" *ngIf="this.sessionService.ItemIsChanged">
      <button mat-raised-button
        type="button"
        class="btn btn-success"
        [disabled]="!this.sessionService.ItemIsValid" (click)="onSave()">
        Save <span *ngIf="this.sessionService.Saving.length > 0" class="spinner-border spinner-border-sm" role="status"
                   aria-hidden="true"></span>
      </button>
    </li>
    <li class="list-inline-item" *ngIf="this.sessionService.ItemIsChanged && !this.sessionService.HideSaveBtn">
      <button mat-raised-button
        type="button"
        class="btn btn-danger" (click)="onCancel()">Cancel
      </button>
    </li>
    <li class="list-inline-item">
      <button mat-raised-button class="btn btn-info" [matMenuTriggerFor]="licenseeMenu">Manage</button>
    </li>
  </ul>
</nav>

<mat-menu #licenseeMenu="matMenu" yPosition="above">
  <button mat-menu-item class="btn btn-info" (click)="onLicenseeNavigate('detail')">Licensee Info</button>
  <button mat-menu-item class="btn btn-info" (click)="onLicenseeNavigate('users')">Users</button>
  <button mat-menu-item class="btn btn-info" (click)="onLicenseeNavigate('billing')">Billing</button>
  <button mat-menu-item class="btn btn-info" [matMenuTriggerFor]="licenseeLocationsMenu">Locations</button>
</mat-menu>
<mat-menu #licenseeLocationsMenu="matMenu">
  <button mat-menu-item class="btn btn-info" *ngFor="let venue of venues; let i = index" (click)="onSelectVenue(i)">
    {{venue.Name}}{{venue.Disabled ? " (Disabled)" : ""}}, {{venue.City}}, {{venue.State}}
  </button>
  <button mat-menu-item class="btn btn-success" (click)="onAddVenue()">Add Location</button>
</mat-menu>


