<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/detail/{{id}}">Detail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/locations/{{id}}">Locations</a>
    </li>

    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/users/{{id}}">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/billing/{{id}}">Billing</a>
    </li>
  </ul>
</nav>
