<h2></h2>
<div class="page-header">
  <h4>Licensee: {{licensee.Name}} {{licensee.Address1}} {{licensee.City}}</h4>
</div>
<table class="table">
  <tbody>
  <tr>
    <td>
      <div class="col-xs-12">
        <app-venue-list-item
          *ngFor="let venue of venues; let i = index"
          [venue]="venue" [index]="i" >
        </app-venue-list-item>
      </div>
    </td>
    <td>
      <div class="col-md-7">
        <router-outlet></router-outlet>
      </div>
    </td>
  </tr>
  </tbody>
</table>
