<div class="card bg-light" *ngIf="floorplan != null">
  <div class="card-header">
    <div class="row">
      <h4><b>Floor Plan:</b> {{floorplan.Name}}</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
        <div class="floorplan-boundary">
          <app-floorplan-item
            class="floorplan-box" cdkDragBoundary=".floorplan-boundary" class="floorplan-box"
            cdkDrag
            (cdkDragEnded)="dragEnd($event)"
            *ngFor="let floorplanItem of floorplan.FloorplanItems; let i = index"
            [floorplanitem]="floorplanItem"
            [cdkDragData]="i"
            [venue]="venue"
            [cdkDragFreeDragPosition]="floorplanItem.Position">
          </app-floorplan-item>
        </div>
      </div>
      <div class="col-sm-3">
        <app-floorplan-rental-list
          [venue]="venue"
          [floorplan]="floorplan"
        >
        </app-floorplan-rental-list>
      </div>
    </div>
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
