<ngb-tabset>
  <ngb-tab title="Product Features">
    <ng-template ngbTabContent>
      <p>This tells how the product works</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Light Control">
    <ng-template ngbTabContent>
      <p>This talks about Billard Light Control</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Aloha POS</ng-template>
    <ng-template ngbTabContent>
      <p>This Talks about Aloha POS Integration</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Micros POS</ng-template>
    <ng-template ngbTabContent>
      <p>This Talks about Micros POS Integration</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Reseller">
    <ng-template ngbTabContent>
      <p>This talks about Reseller Stuff</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
