<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h4><b>Fee Machine</b> - Product Features</h4>
    </div>
  </div>
  <div class="card-body">
    <ngb-tabset>
      <ngb-tab title="Fee Machine Features">
        <ng-template ngbTabContent>
          <p>This tells how the product works</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Light Control">
        <ng-template ngbTabContent>
          <p>Wireless Billiard Light Control is a optional feature of Fee Machine.   When enabled, Fee Machine will turn on a light above your Billiard Table at the start of each rental, and turn it off at the end, providing an easy way to monitor which items are being actively rented.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Aloha POS</ng-template>
        <ng-template ngbTabContent>
          <p>Fee Machine is designed work with any version of Aloha Table Service or Quick Service without the need for additional licensing from NCR!</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Micros POS</ng-template>
        <ng-template ngbTabContent>
          <p>Micros 3700 Integration is coming soon!</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="For Distributors">
        <ng-template ngbTabContent>
          <p>Fee Machine is designed to be sold and supported through POS System Distributors/Resellers.  If you are interested in becoming a Fee Machine distributor, please contact us!</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>



