<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h4>Locations</h4>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddLocation()">+
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div>
        <app-venue-list-item
          *ngFor="let venue of venues; let i = index"
          [venue]="venue"
          [index]="i"
          [ngClass]="{isFirst: i == 0 }">
        </app-venue-list-item>
      </div>
      <div class="col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

