<app-venue-detail-navigation></app-venue-detail-navigation>
<div class="page-header">
  <h4>Rental Items: {{venue.Name}}, {{venue.Address1}}, {{venue.City}}</h4>
</div>
<table class="table">
  <tbody>
    <tr>
      <td>
        <div class="col-xs-12">
          <app-rental-item
            *ngFor="let rentalItem of venue.RentalItems; let i = index"
            [rentalItem]="rentalItem" [index]="i" [vid]="id">
          </app-rental-item>
        </div>
      </td>
      <td>
        <div class="col-md-7">
          <router-outlet></router-outlet>
        </div>
      </td>
    </tr>
  <tr>
    <td>
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddRentalItem()" >Add Rental Item</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

