<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/location/{{id}}" >Location Detail</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/rentals">Rental Items</a></li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fees<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/feegroups">Fee Groups</a></li>
            <li><a routerLink="/feeitems">Fees</a></li>
            <li><a routerLink="/feetester">Tester</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="page-header">
  <h4>Rental Items: {{venue.Name}}, {{venue.Address1}}, {{venue.City}}</h4>
</div>
<table class="table">
  <tbody>
    <tr>
      <td>
        <div class="col-xs-12">
          <app-rental-item
            *ngFor="let rentalItem of venue.RentalItems; let i = index"
            [rentalItem]="rentalItem" [index]="i" [vid]="id">
          </app-rental-item>
        </div>
      </td>
      <td>
        <div class="col-md-7">
          <router-outlet></router-outlet>
        </div>
      </td>
    </tr>
  <tr>
    <td>
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddRentalItem()" >Add</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

