<button mat-raised-button class="btn btn-info" [matMenuTriggerFor]="locationReportsMenu">Reports</button>
<mat-menu #locationReportsMenu="matMenu">
  <button mat-menu-item (click)="onLocationReportsNavigate('reports/DailySummaryReport')">Daily Summary</button>
  <button mat-menu-item (click)="onLocationReportsNavigate('reports/ItemUseDetailReport2')">Transaction Detail</button>
  <button mat-menu-item (click)="onLocationReportsNavigate('reports/RentalItemUsageReport1')">Item Use Summary</button>
</mat-menu>


