<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/locations/{{id}}/detail/{{id}}">Location Detail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/locations/{{id}}/rentals/{{id}}">Rental Items</a>
    </li>

    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/locations/{{id}}/feegroups/{{id}}">Fee Groups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/locations/{{id}}/fees/{{id}}">Fees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-brand" routerLink="/licensee/{{id}}/locations/{{id}}/feetester/{{id}}">Fee Tester</a>
    </li>
    <li ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle navbar-brand" id="reportMenuLink" data-toggle="dropdown">
        Reports
      </a>
      <div ngbDropdownMenu class="dropdown-menu">
        <a class="dropdown-item" routerLink="/licensee/{{id}}/locations/{{id}}/reports/ItemUseDetailReport2/{{id}}">Transaction Detail</a>
        <a class="dropdown-item" routerLink="/licensee/{{id}}/locations/{{id}}/reports/RentalItemUsageReport1/{{id}}">Item Use Summary</a>
      </div>
    </li>
    <li class="nav-item">
      <form [formGroup]="venueNavigationForm" (ngSubmit)="onSubmit()">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!venueNavigationForm.valid">Save
        </button>
      </form>
    </li>
  </ul>
</nav>

