<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h6><b>Location Detail</b></h6>
      </div>
      <button mat-raised-button
              type="button"
              class="btn btn-outline-info" (click)="onCopy()">Copy
      </button>

    </div>

  </div>
  <div class="card-body">
    <form [formGroup]="venueDetailForm">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Name">Location Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Name"
            formControlName="Name"
            maxlength="30"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('Name')">Location Name is required</div>
        </div>
        <label class="col-form-label col-sm-4">Id {{venue.LId}} Config Version {{venue.UpdateCount}}
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="You can compare the Config Version on your Fee Machine with this to make sure its up-to-date.">
            ?
          </button>
        </label>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <label class="form-check-label" for="Enabled"><input
            type="checkbox"
            id="Enabled"
            formControlName="Enabled"> Enabled
            <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                    ngbTooltip="Enables application at site.  Not billed unless enabled.">?
            </button>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Address1">Address 1</label>
        <div class="col-sm-8">
          <input
            type="text"
            id="Address1"
            formControlName="Address1"
            maxlength="40"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('Address1')">Address is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Address2">Address 2</label>
        <div class="col-sm-8">
          <input
            type="text"
            id="Address2"
            formControlName="Address2"
            maxlength="40"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="City">City</label>
        <div class="col-sm-8">
          <input
            type="text"
            id="City"
            formControlName="City"
            max="20"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('City')">City is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="State">State</label>
        <div class="col-sm-2">
          <input
            type="text"
            id="State"
            formControlName="State"
            maxlength="20"
            class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="isFieldInvalid('State')">State is required</div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="PostalCode">Postal Code</label>
        <div class="col-sm-4">
          <input
            type="text"
            id="PostalCode"
            formControlName="PostalCode"
            maxlength="10"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('PostalCode')">Postal Code is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Phone1">Phone 1</label>
        <div class="col-sm-4">
          <input
            type="text"
            id="Phone1"
            formControlName="Phone1"
            maxlength="15"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('Phone1')">Phone is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Phone2">Phone 2</label>
        <div class="col-sm-4">
          <input
            type="text"
            id="Phone2"
            formControlName="Phone2"
            maxlength="15"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Website">Web Site</label>
        <div class="col-sm-8">
          <input
            type="text"
            id="Website"
            formControlName="Website"
            maxlength="60"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="POSTypeId">POS Type</label>
        <div class="col-sm-5">
          <select id="POSTypeId" formControlName="POSTypeId">
            <option *ngFor="let pt of posTypes"
                    [value]="pt.value"
                    [selected]="pt.value == posType.value">{{pt.name}}
            </option>
          </select>
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="Sets QR Code Format on Fee Machine as needed by POS Type.">?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="POSTypeId">End of Day Time</label>
        <div class="col-sm-5">
          <select id="EODTime" formControlName="EODTime">
            <option *ngFor="let eod of eodTimes"
                    [value]="eod.value"
                    [selected]="eod.value == eodTime.value">{{eod.name}}
            </option>
          </select>
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                  ngbTooltip="Sets the desired End of Business Day time.">?
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <label class="form-check-label" for="LightControlEnabled">
            <input
              type="checkbox"
              id="LightControlEnabled"
              formControlName="LightControlEnabled"> Light Control Enabled
            <button
              type="button" class="btn btn-outline-secondary mr-2" placement="right"
              ngbTooltip="Wireless Light Control - Additional Fees may apply.">?
            </button>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="Memo">Memo</label>
        <div class="col-sm-8">
              <textarea
                type="text"
                id="Memo"
                formControlName="Memo"
                maxlength="512"
                rows="4"
                class="form-control"></textarea>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-6">
        <button
          class="btn btn-danger" (click)="onDeleteLocation(id)">Delete
        </button>
      </div>
    </div>
  </div>
</div>


