<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/venuedetail/{{id}}" >Location Detail</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="./rentals">Rental Items</a></li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fees<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/feegroups">Fee Groups</a></li>
            <li><a routerLink="/feeitems">Fees</a></li>
            <li><a routerLink="/feetester">Tester</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="venueDetailForm" (ngSubmit)="onSubmit()">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Name">Name</label>
            <input
              type="text"
              id="Name"
              formControlName="Name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Address1">Address 1</label>
            <input
              type="text"
              id="Address1"
              formControlName="Address1"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Address2">Address 2</label>
            <input
              type="text"
              id="Address2"
              formControlName="Address2"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="City">City</label>
            <input
              type="text"
              id="City"
              formControlName="City"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="State">State</label>
            <input
              type="text"
              id="State"
              formControlName="State"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="PostalCode">Postal Code</label>
            <input
              type="text"
              id="PostalCode"
              formControlName="PostalCode"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Phone1">Phone 1</label>
            <input
              type="text"
              id="Phone1"
               formControlName="Phone1"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Phone2">Phone 2</label>
            <input
              type="text"
              id="Phone2"
              formControlName="Phone2"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!venueDetailForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>


