/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: #253571;
  color: #ffffff;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
}

