<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <!--
      <div class="col-sm-6">
        <app-licensee-list-item
          *ngFor="let licensee of licensees; let i = index"
          [licensee]="licensee" [index]="i" [rsid]="rsid">
        </app-licensee-list-item>
      </div>
      -->
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
