<app-venue-detail-navigation></app-venue-detail-navigation>
<div class="row">
  <div class="col-xs-12">
    <h4>Fee Calculation Tester</h4>
    <form [formGroup]="feeTesterForm">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="panel panel-info">
              <div class="panel-heading">
                <label>Fee Calc Inputs</label>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="FeeGroup">Fee Group</label>
                      <select id="FeeGroup" formControlName="FeeGroup">
                        <option *ngFor="let feeGroup of venue.FeeGroups" [value]="feeGroup.FGId">{{feeGroup.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="DayOfWeek">Day of Week</label>
                      <select id="DayOfWeek" formControlName="DayOfWeek">
                        <option *ngFor="let day of dayList" [value]="day.value">{{day.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="Users">Users</label>
                      <input
                        type="text"
                        id="Users"
                        formControlName="Users"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Begin Time</label>
                      <ngb-timepicker formControlName="BeginTime" [minuteStep]="1" [size]="small" ></ngb-timepicker>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>End Time</label>
                      <ngb-timepicker formControlName="EndTime" [minuteStep]="1" [size]="small" ></ngb-timepicker>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button
                      class="btn btn-success" (click)="onTestFeeCalc()">Test Fee Calc
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-feecalctester-response [timedFeeCalcResponse]="timedFeeCalcResponse" ></app-feecalctester-response>
          <div class="col">
            <div class="panel">
              <div class="panel-heading">
                <label>Log</label>
              </div>
              <div class="panel-body">
                Log Body
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



