<app-venue-detail-navigation></app-venue-detail-navigation>
<div class="page-header">
  <h4><b>Fee Tester for:</b> {{venue.Name}}, {{venue.Address1}}, {{venue.City}}</h4>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Fee Calculation Tester</h4>
    <form [formGroup]="feeTesterForm">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="panel panel-info">
              <div class="panel-heading">
                <label>Fee Calculation Inputs</label>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="FeeGroup">Fee Group</label>
                      <select id="FeeGroup" formControlName="FeeGroup">
                        <option *ngFor="let fg of venue.FeeGroups"
                                [value]="fg.FGId"
                                [selected]="fg.FGId == feeGroup.FGId">{{fg.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="DayOfWeek">Day of Week</label>
                      <select id="DayOfWeek" formControlName="DayOfWeek">
                        <option *ngFor="let day of dayList" [value]="day.value">{{day.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="Users">Users</label>
                      <input
                        type="number"
                        id="Users"
                        formControlName="Users"
                        class="form-control" maxlength="4" size="4">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Begin Time</label>
                      <ngb-timepicker formControlName="BeginTime" [minuteStep]="1" ></ngb-timepicker>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>End Time</label>
                      <ngb-timepicker formControlName="EndTime" [minuteStep]="1" ></ngb-timepicker>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button
                      class="btn btn-success" (click)="onTestFeeCalc()">Test Fee Calc
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <app-feecalctester-response [timedFeeCalcResponse]="timedFeeCalcResponse" ></app-feecalctester-response>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>




