<form [formGroup]="licenseeUserDetailForm" *ngIf="licensee">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          <h4>User Detail</h4>
        </div>
        <div class="col-auto">
          <button
            class="btn btn-danger pull-right" (click)="onDeleteUser(fid)">-
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="FirstName">First Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="FirstName"
            formControlName="FirstName"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('FirstName')">First Name is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="LastName">Last Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="LastName"
            formControlName="LastName"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('LastName')">Last Name is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="Email">Email</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Email"
            formControlName="Email"
            class="form-control">
          <div class="alert alert-danger" *ngIf="isFieldInvalid('Email')">Email is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="AppUser">App User</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="AppUser"
            formControlName="AppUser"
            class="form-control">
        </div>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbTooltip="If checked, the user can use the location application.">?
        </button>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="Administrator">Admin</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Administrator"
            formControlName="Administrator"
            class="form-control">
        </div>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbTooltip="If checked, the user can make changes via this portal.">?
        </button>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="Disabled">Disabled</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Disabled"
            formControlName="Disabled"
            class="form-control">
        </div>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbTooltip="If checked, the user is disabled to login.">?
        </button>
      </div>
    </div>
  </div>
</form>




