<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h6><b>Fee Groups</b></h6>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddFeeGroup()">+</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <app-feegroup-item
          *ngFor="let feeGroup of venue.FeeGroups; let i = index"
          [feeGroup]="feeGroup" [index]="i" [vid]="id">
        </app-feegroup-item>
      </div>
      <div class="col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
