<div class="container-fluid">

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleCollapseState()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Fee Machine!</a>
    <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapsed }" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item" >
          <div class="dropdown" [ngClass]="{ 'show': isVenueDroppedDown }" (click)="toggleVenueDropDownState()" >
            <a class="btn btn-primary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Locations</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" appDropdown>
              <a class="dropdown-item"
                 *ngFor="let venue of venues; let i = index"
                 routerLink="/location/{{i}}">{{venue.Name}}, {{venue.Address1}}, {{venue.City}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" [ngClass]="{ 'show': isOtherDroppedDown }" (click)="toggleOtherDropDownState()" >
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="onGetLocations()">Get Locations</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>

<!--
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link" appDropdown>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Actions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onGetLocations()">Get Locations</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->


  </nav>
</div><!-- /.container-fluid -->

