<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h4><b>Fee Machine</b> - Time based Fee Calculation Tools for Billiards, Bars, Breweries, and Restaurants</h4>
    </div>
  </div>
  <div class="card-body">
    <p><b>Fee Machine</b> calculates minute by minute fees for any item by time of day, day of week, and number of
      players.</p>
    <p>Designed for Billiard Operators, Breweries, Bars, and Restaurants looking to grow their gaming revenues. Provides
      consistent fee calculation and tracking.</p>
    <p>With Fee Machine, you can define custom rate structures for each type of item you rent and how you rent them,
      such as Daily, League, and Party rates for Pool, Daily for Shuffleboard, Daily and League for Darts. </p>
    <p>You can define custom rates for number of players, such as separate rates for 1 to 2 players, 3 to 4 players, 4
      to 6 players, etc.</p>
    <p>Fee Machine runs on Android tablets. It uses simple barcode integration with leading Restaurant POS systems such
      as Aloha, which means it’s easy to setup and use!</p>
    <p><b>Wireless Light Control available</b> - turn lights on/off with each rental!</p><br>
    <h3>The Fee Machine Experience</h3>
    <p>Track the status of each rental with our Rental Item Status display:</p>
    <img src="assets/images/RentalStatusBusy.png" alt="Rental Status Display with Active Rentals" width="600"
         height="800"><br>
    <p>Selecting an Active Rental shows the status – Time of Rental, Fees, Rate Type and Number of Players:</p>
    <img src="assets/images/ActiveRentalStatus.png" alt="Active Rental Status Display" width="600" height="800"><br>
    <p>Completing a Rental is easy – Touch the <b>Complete Rental</b> button and scan the QR Code into your POS</p>
    <img src="assets/images/CompletedRental.png" alt="Completed Rental Display" width="600" height="800"><br>
    <h3>Starting a Rental</h3>
    <p>Click on an Available Item to begin the process.</p>
    <p> Select the desired Rate Type (if more than 1 is defined for the item)</p>
    <img src="assets/images/SelectFeeGroup.png" alt="Select a Rate Type" width="600" height="800"><br>
    <p>Select the number of Players (if required for the rate type)</p>
    <img src="assets/images/EnterPlayerCount.png" alt="Enter Player Count" width="600" height="800"><br>
    <p>Confirm the Rental setup, edit as needed, then Begin your Rental!</p>
    <img src="assets/images/BeginRentalConfirmSetup.png" alt="Confirming Rental Setup" width="600" height="800"><br>
    <h3>Manage from the Cloud</h3>
    <p>Manage all aspects of your Fee Machine configuration from the cloud using your tablet or cell phone.</p>
    <h3>Multi-Unit Operator Support</h3>
    <p>Fee Machine was designed with multi-unit operators in mind.  Multi-unit operators can easily manage all their locations from the cloud in a single portal, and select them on the Fee Machine tablet</p>
    <img src="assets/images/SelectLocations.png" alt="Selecting a Location" width="600" height="800">
  </div>
</div>
