<div class="card bg-light">
  <div class="card-header">
  </div>
  <div class="card-body">
    <form [formGroup]="licenseeItemDetailForm" *ngIf="licensee" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-form-label" for="Name">Licensee Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Name"
            formControlName="Name"
            class="form-control">
        </div>
        <label class="col-form-label"># {{licensee.LicId}}</label>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Email: {{licensee.Email}}</label>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Disabled">Enabled</label>
        <div class="col-sm-3">
          <input
            type="checkbox"
            id="Disabled"
            formControlName="Disabled"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="ContactFirstName">Contact First Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="ContactFirstName"
            formControlName="ContactFirstName"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="ContactLastName">Contact Last Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="ContactLastName"
            formControlName="ContactLastName"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Address1">Address 1</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Address1"
            formControlName="Address1"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Address2">Address 2</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Address2"
            formControlName="Address2"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="City">City</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="City"
            formControlName="City"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="State">State</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="State"
            formControlName="State"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="PostalCode">Postal Code</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="PostalCode"
            formControlName="PostalCode"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Phone1">Phone 1</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Phone1"
            formControlName="Phone1"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Phone2">Phone 2</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Phone2"
            formControlName="Phone2"
            class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label" for="Website">Website</label>
        <div class="col-sm-6">
          <input
            type="text"
            id="Website"
            formControlName="Website"
            class="form-control">
        </div>
      </div>
    </form>
  </div>
</div>

