<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h4><b>Floor Plans for:</b> {{venue.Name}}, {{venue.Address1}}, {{venue.City}}</h4>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddFloorPlan()">+
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <app-floorplanlist-item
          *ngFor="let floorplan of venue.Floorplans; let i = index"
          [floorplan]="floorplan" [index]="i" [vid]="id">
        </app-floorplanlist-item>
      </div>
      <!--
      <div class="col-sm-6">
        <app-floorplanlist-item-detail></app-floorplanlist-item-detail>
      </div>
      -->
      <!--
      <div class="floorplan-boundary">
       <app-floorplanlist-item
         class="floorplan-box" cdkDragBoundary=".floorplan-boundary" class="floorplan-box"
         cdkDrag
         (cdkDragEnded)="dragEnd($event)"
         *ngFor="let floorplanItem of floorplan.FloorplanItems; let i = index"
         [floorplanitem]="floorplanItem"
         [cdkDragData]="i"
         [cdkDragFreeDragPosition]="floorplanItem.Position"
         [index]="i" [vid]="id">
       </app-floorplanlist-item>
      </div>
      -->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
