<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h6><b>Floor Plans</b></h6>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddFloorPlan()">+
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <app-floorplanlist-item
          *ngFor="let floorplan of venue.Floorplans; let i = index"
          [floorplan]="floorplan" [index]="i" [vid]="id">
        </app-floorplanlist-item>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
