<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <h4><b>Floor Plans for:</b> {{venue.Name}}, {{venue.Address1}}, {{venue.City}}</h4>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success" (click)="onAddFloorPlan()">+</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="floorplan-boundary">
         <app-floorplanlist-item
           class="floorplan-box" cdkDragBoundary=".floorplan-boundary" class="floorplan-box"
           cdkDrag
           (cdkDragEnded)="dragEnd($event)"
           *ngFor="let floorplanItem of floorplan.FloorplanItems; let i = index"
           [floorplanitem]="floorplanItem"
           [cdkDragData]="i"
           [cdkDragFreeDragPosition]="floorplanItem.Position"
           [index]="i" [vid]="id">
         </app-floorplanlist-item>
<!--
         <div id="pt1" class="floorplan-box" cdkDragBoundary=".floorplan-boundary"
              cdkDrag
              (cdkDragEnded)="dragEnd($event)"
              [cdkDragFreeDragPosition]="{ x: 100, y: 100 }"
         >
           Pool Table 1
         </div>
         <div id="pt2" class="floorplan-box" cdkDragBoundary=".floorplan-boundary"
              cdkDrag
              (cdkDragEnded)="dragEnd($event)"
              [cdkDragFreeDragPosition]="{ x: 0, y: 0 }"
         >
           Pool Table 2
         </div>
         <div id="pt3" class="floorplan-box" cdkDragBoundary=".floorplan-boundary"
              cdkDrag
              (cdkDragEnded)="dragEnd($event)"
              [cdkDragFreeDragPosition]="{ x: 0, y: 250 }"
         >
           Pool Table 3
         </div>
-->
        </div>
      </div>
      <div class="col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
